# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/CG_Assign4/CG_Assign4.vcxproj.filters
/CG_Assign4/CG_Assign4.opensdf
/CG_Assign4/CG_Assign4.sdf
/CG_Assign4/CG_Assign4.sln
/CG_Assign4/CG_Assign4.v12.suo
/CG_Assign4/CG_Assign4.vcxproj
